

#p1 {
    text-align: center;
    color: black;
}
#p3	{
	background-color: orange;
}
#p2 {
    
   width: 1200px;
    border: 25px solid lightblue;
    padding: 25px;
    margin: 17px;
}

#p4 {
  float: left;
  font-size: 20px;
  position: static;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  padding-left: 150px;

}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 35px;
    height: 200px;
    width: 1250px;

}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#p5 {
position: relative;
    left: 430px;
    border: 3px solid #73AD21;}
#p6 {
  position: relative;
    left: 280px;
    
}
#p7
{
	position: relative;
    left: 400px;
    border: 3px solid #73AD21;
}
 th{
 	height: 20px;
text-align: left;
} 


 td {
    width: 400px;
    text-align: left;

}